.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: line-gradient(270deg, #cef2fa, #59bf3f);
    & > div {
        width: 100%;
        max-width: 600px;
        padding: 0 20px;
    }
    & h1 {
        color: #ffffff;
        text-align: center;
    }
}
