.FinishedQuiz {
    width: 700px;
    position: relative;
    right: 300px;
    padding: 20px;
    color: rgb(255, 255, 255);
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
    & ul {
        list-style: none;
    }
}
.FinishedQuiz ul li i {
    margin-left: 10px;
}
.success-i {
    color: rgba(161, 240, 69, .7);
}
.error-i {
    color:  rgba(240, 87, 108, .7);
}