@import 'Layout.scss';
@import 'Quiz.scss';
@import 'ActiveQuiz.scss';
@import 'AnswerItem.scss';
@import 'AnswersList.scss';
@import 'FinishedQuiz.scss';
@import 'MenuToggle.scss';
@import 'Drawer.scss';
@import 'BackDrop.scss';
@import 'QuizList.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.test-div {
    color: red;
}
.hide {
    display: none;
}
button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 15px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:active{
        box-shadow:inset 2px 2px 1px rgba(0, 0, 0, .3);
    }
}